html {
    color: #1c94c4;
    background: #cccccc;
    font-family: Helvetica;
    font-size: 12px;
}

h1.HeaderStyle {
    font-size:2em;
    margin: 10px;
}

span.HeaderStyle  {
    font-size:1.2em;
}

header.HeaderStyle {
    margin: 10px;
}