html {
    color: #f58400;
    background: #555555;
    font-family: Helvetica;
    font-size: 12px;
}

h1.HeaderStyle {
    font-size:2em;
    margin: 0px;
}

span.HeaderStyle  {
    font-size:1.2em;
}

header.HeaderStyle {
    margin: 4px;
}